:root {
   --bg-primary: #dbd4b2;
   --bg-secondary: #52453d;
   --bg-tertiary: #ada090;
   --font-title: #52b658;
   --font-standard: #e2e5d2;
   --emphasis: #ffc163;
}
* {
   font-family: "Comfortaa", cursive;
   color: var(--font-standard);
}
html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
   background-color: var(--bg-primary);
}
#root {
   height: 100%;
}
.App {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.view {
   display: flex;
   justify-content: center;
   align-items: flex-start;
   height: max-content;
   flex-grow: 2;
}
/* ====================== NAVBAR ====================== */
.navbar {
   background-color: var(--bg-secondary);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin-bottom: 20px;
}
.navbar__title {
   display: block;
   margin: 6px 12px;
   color: var(--font-title);
   font-size: 1.5em;
   user-select: none;
}
/* ====================== LOGIN ====================== */
.login-view {
   display: flex;
   justify-content: center;
   align-items: center;
   height: max-content;
   flex-grow: 2;
}
.login {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: var(--bg-secondary);
   max-width: 300px;
   width: 85%;
   padding: 15px 20px;
   border-radius: 10px;
   box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
}
.login__title {
   color: var(--font-title);
   font-size: 1.3em;
   margin: 8px;
}
.login__form-row {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   margin: 12px 0px;
}
.login__form-title {
   font-size: 18px;
   margin-right: 6px;
}
.login__form-input {
   background-color: var(--bg-tertiary);
   width: 80%;
   border: 0px solid black;
   border-radius: 4px;
   padding: 4px 6px;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
}
.login__reglink {
   font-size: 14px;
   margin: 6px;
}
/* ====================== Classes ====================== */
.classes {
   background-color: var(--bg-tertiary);
   max-width: 1000px;
   width: 85%;
   border-radius: 10px;
   border-radius: 10px;
   box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
   padding-bottom: 20px;
}
.classes__navbar {
   background-color: var(--bg-secondary);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 8px;
   border-radius: 10px 10px 0px 0px;
}
.classes__navbar-title {
   color: var(--font-title);
   font-size: 1.3em;
   margin: 0px;
   user-select: none;
}
.classes__navbar-button-row {
   display: flex;
   flex-direction: row;
}
.classes__navbar-save-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--emphasis);
   border: 0px solid black;
   border-radius: 50%;
   color: var(--bg-secondary);
   width: 26px;
   height: 26px;
   font-size: 30px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   line-height: 1.5rem;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   outline: none;
   margin-right: 14px;
}
.classes__navbar-add-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--emphasis);
   border: 0px solid black;
   border-radius: 50%;
   color: var(--bg-secondary);
   width: 26px;
   height: 26px;
   font-size: 30px;
   font-weight: bold;
   line-height: 1.5rem;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   outline: none;
}
.classes__navbar-button-icon {
   width: 18px;
}
.classes__card-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-top: 20px;
}
/* ====================== ClassCard ====================== */

.class-card {
   background-color: var(--bg-secondary);
   width: 42%;
   max-width: 300px;
   margin-bottom: 20px;
   box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   padding: 10px;
}
.class-card__header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.class-card__title {
   color: var(--font-title);
   margin: 0px;
   font-size: 1em;
   font-weight: bold;
}
.class-card__button {
   background-color: var(--emphasis);
   border: 0px solid black;
   border-radius: 50%;
   color: var(--bg-secondary);
   width: 20px;
   height: 20px;
   font-size: 30px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   line-height: 0.15rem;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   outline: none;
}
.class-card__subtitle {
   color: var(--font-title);
   font-size: 1em;
   font-weight: normal;
   margin: 6px 0px;
}
.class-card__student-container {
   display: flex;
   flex-wrap: wrap;
}
.class-card__student {
   font-size: 0.8em;
   margin: 5px;
}
/* ====================== ClassDate ====================== */
.class-date {
   background-color: var(--bg-secondary);
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 6px;
   padding: 10px;
   margin: 0px 16px;
}
.class-date--active {
   border-radius: 6px 6px 0px 0px;
}
.class-date:not(:first-child) {
   margin-top: 14px;
}
.class-date__delete-icon {
   width: 13px;
}

.class-date__button-container {
   display: flex;
   flex-direction: row;
}

.class-date__delete-button {
   background-color: var(--emphasis);
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0px solid black;
   border-radius: 50%;
   color: var(--bg-secondary);
   width: 24px;
   height: 24px;
   font-size: 30px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   outline: none;
   user-select: none;
   z-index: 2;
}
.class-date__edit-button {
   background-color: var(--emphasis);
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0px solid black;
   border-radius: 50%;
   color: var(--bg-secondary);
   width: 24px;
   height: 24px;
   font-size: 30px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   outline: none;
   user-select: none;
   z-index: 2;
   margin-right: 14px;
}
.class-date__open-button {
   background-color: var(--emphasis);
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0px solid black;
   border-radius: 50%;
   color: var(--bg-secondary);
   width: 24px;
   height: 24px;
   font-size: 30px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   /* line-height: 0px; */
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   outline: none;
   user-select: none;
   margin-right: 14px;
}

.class-date__open-button--active {
   line-height: 1rem;
}
.class-date__text {
   color: var(--font-title);
   margin: 0px;
   font-size: 1em;
   font-weight: bold;
   user-select: none;
}
.class-date__button-icon {
   width: 16px;
   fill: blanchedalmond;
}
.class-date__date-input {
   background-color: var(--bg-tertiary);
   width: 40%;
   max-width: 160px;
   border: 0px solid black;
   border-radius: 4px;
   padding: 3px 4px;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
}

/* ====================== Date Attendance ====================== */
.date-attendance {
   background-color: rgba(82, 69, 61, 0.5);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 90%;
   margin: 0px 16px;
   height: 0px;
   box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 0px 0px 6px 6px;
   padding: 10px;
}
.date-attendance--active {
   height: auto;
}
.date-attendance--inactive {
   height: 0px;
}
.date-attendance__row {
   display: flex;
   flex-direction: row;
   align-items: center;
   width: 41%;
   max-width: 200px;
   margin: 6px;
   opacity: 0;
   transition: opacity 0.2s ease-in;
}
.date-attendance__row--active {
   opacity: 100%;
}
.date-attendance__row--inactive {
   opacity: 0%;
}
.date-attendance__button {
   width: 16px;
   height: 16px;
   margin-right: 4px;
   filter: saturate(200%);
   user-select: none;
}
.date-attendance__button--active {
}
.date-attendance__button--inactive {
   filter: contrast(0%) saturate(0%) brightness(120%);
}
.date-attendance__text {
   font-size: 14px;
   user-select: none;
}
/* ====================== COHORT FORM ====================== */
.cohort-form {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   width: 100%;
   height: 100%;
   padding-top: 80px;
}
.cohort-form__container {
   height: 500px;
   max-width: 800px;
   width: 65%;
   display: flex;
   flex-direction: column;
   margin: 0px auto;
   background-color: var(--bg-secondary);
   border: 3px var(--bg-tertiary) solid;
   border-radius: 10px;
   box-shadow: -6px 6px 4px rgba(0, 0, 0, 0.25);
   padding: 40px;
   padding-top: 20px;
   box-sizing: border-box;
}
.cohort-form__field-title {
   color: var(--font-title);
   font-size: 1.3em;
   margin: 10px 0px;
}
.cohort-form__field {
   background-color: var(--bg-tertiary);
   width: 98%;
   height: 35px;
   border: 0px solid black;
   border-radius: 4px;
   padding: 10px 10px;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   color: var(--bg-secondary);
   font-weight: bold;
   outline: none;
}
.cohort-form__field-details {
   font-size: 18px;
   margin-bottom: 10px;
}
#students {
   height: 100%;
}
.cohort-form__submit-button {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--emphasis);
   border: 0px solid black;
   border-radius: 50%;
   color: var(--bg-secondary);
   width: 26px;
   height: 26px;
   box-shadow: inset -4px 4px 3px rgba(0, 0, 0, 0.25);
   outline: none;
   padding: 15px;
   font-size: 20px;
   font-weight: bold;
   margin-top: 10px;
   margin-left: auto;
   margin-bottom: -20px;
}
/* ====================== XXXXX ====================== */
/* ====================== XXXXX ====================== */
/* ====================== XXXXX ====================== */
