:root {
   --bg-primary: #dbd4b2;
   --bg-secondary: #52453d;
   --bg-tertiary: #ada090;
   --font-title: #52b658;
   --font-standard: #e2e5d2;
   --emphasis: #ffc163;
}
.navbar {
   background-color: var(--bg-secondary);
}
.navbar__title {
   color: var(--font-title);
   font-family: "Comfortaa", cursive;
   font-size: 1.5em;
}
